{{#if title url}}
<div class="link-card c-card {{if isHover 'u-high'}}">
  <div class="c-card__item o-media">
    <div class="o-media__body">
      <h2 class="c-heading">{{title}}</h2>
      <h3 local-class="subheading" class="c-heading__sub">{{url}}</h3>
      <p class="c-paragraph">{{description}}</p>
    </div>
    <div class="o-media__image">
      {{#if image_og}}
      <img class="o-image" src="{{image_og}}"/>
      {{/if}}
    </div>
  </div>
</div>
{{/if}}
