{{#if errorMessage}}
  <div class="c-alert c-alert--error">
    <button class="c-button c-button--close">×</button>
    {{errorMessage}} {{errorDetails}}
  </div>
{{else if session.isAuthenticated}}
  {{global-nav}}
{{/if}}
<div class="o-container o-container--xlarge o-grid o-grid--wrap o-grid--top o-grid--small-full o-grid--medium-full">
  <div class="o-grid__cell o-grid__cell--width-100">
    {{outlet}}
  </div>
</div>
